.App {
  background-image: linear-gradient(lightblue, pink, lightyellow);
  height: 100vh;
}
.text1 {
  text-shadow: 3px 3px 5px aqua;
  margin-top: 0;
}
.button1 {
  height: 60px;
  width: 330px;
  border-radius: 50px;
  background-color: lightblue;
  position: relative;
  top: 100px;
  left: -50px;
  font-size: 17px;
}
.button1:hover,
.button2:hover {
  background-color: #5cffff;
  font-size: large;
}
.button2 {
  height: 60px;
  width: 330px;
  border-radius: 50px;
  background-color: lightblue;
  position: relative;
  top: 100px;
  left: 50px;
  font-size: 17px;
}
.functional {
  height: 330px;
  width: 550px;
  background-color: #5cffff;
  border: 3px solid black;
  position: relative;
  top: 200px;
  left: 150px;
  border-radius: 40px;
}
.class1 {
  height: 330px;
  width: 550px;
  background-color: #de69e4;
  border: 3px solid black;
  position: absolute;
  top: 324px;
  left: 850px;
  border-radius: 40px;
}
p {
  font-size: x-large;
}
